@use 'utils/mixins';
@use "utils/variables";

.size-guide {
  &__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 998;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  &__dialog {
	position: relative;
	width: 100%;
	max-width: 800px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 24px;
  }
  
  &__content {
	position: relative;
	display: flex;
	gap: 12px;
	&-description {
	  p,ol {
		font-family: "Inter", sans-serif;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 0.02em;
		color: #21262c;
		
		li {
		  list-style: decimal;
		}
	  }
	  
	  ol {
		padding-top: 12px;
		padding-left: 18px;
	  }
	}
  }
  
  &__header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;
	
	h2 {
	  font-family: "Inter", sans-serif;
	  font-weight: 700;
	  font-size: 28px;
	  color: #21262c;
	}
	
	h3 {
	  font-family: "Inter", sans-serif;
	  font-weight: 700;
	  font-size: 22px;
	  line-height: 127%;
	  color: #21262c;
	  padding-bottom: 12px;
	}
	
	&--top {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  gap: 12px;
	}
  }
  &__close {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	width: 44px;
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 12px;
  }
  
  @include mixins.respond-to(variables.$breakpoint-mobile) {
	&__dialog {
	  margin: 0 12px;
	  height: auto;
	  padding: 16px;
	}
	
	&__header {
	  h3 {
		font-size: 16px;
	  }
	}
	
	&__content {
	  position: relative;
	  display: flex;
	  flex-direction: column-reverse;
	  
	  &-description {
		p, ol {
		  font-size: 14px;
		}
	  }
	}
	
	&__image {
	  height: 156px;
	}
  }
  @include mixins.respond-to(variables.$breakpoint-tablet) {
	&__dialog {
	  margin: 0 24px;
	}
  }
}
